<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/book/login5" method="post">
    <table>
        <tr>
            <td>登录名:</td>
            <td><input type="text" id="loginName" name="loginName"></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="text" id="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" value="登录"></td>
        </tr>
    </table>
</form>
</body>
</html>