<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="'hello!,' + ${name}">111</p>

    <a href="" th:href="@{/book/tesThref}">details.html</a>

    <span th:text="${name}"></span>

    <div th:switch="${name}">
        <p th:case="'**'">User is an administrator</p>
        <p th:case="郭胡记">User is some other thing</p>
    </div>

    <table>
        <tr>
            <th>name</th>
            <th>password</th>
            <th>phone</th>
        </tr>
        <tr th:each="get : ${MapName}">
            <td th:text="${get.name}">11</td>
            <td th:text="${get.password}">22</td>
            <td th:text="${get.phone}">33</td>
        </tr>
    </table>


</body>
</html>